.DS_Store

# Environment files
.env
.env.*
!.env.example

# Node
/node_modules/
*.tsbuildinfo
dist/

# React Router
/.react-router/
/build/

# Cloudflare
.mf
.wrangler
.dev.vars*
worker-configuration.d.ts
!.dev.vars.example

# Python
.venv/
__pycache__/
*.py[cod]